body{
    background: #EEEEFF;
}
#main{display: none;}
div.info{
    font-size: 15;
    border-style: solid;
    border-width: 1px;
    margin: 25;
    padding: 10;
    background: #99ff99;
}
div.description{
    background: #99ff99;
}
div.error{
    background: #ff9999;
}
div.question{
    font-size: 10;
    border-style: dashed;
    border-width: 1px;
    margin: 25;
    padding: 5;
    background: #FFEE00;
}
input.question{
    width: 100%;
    border-style: none;
    border-width: 1px;
    background: #FFFF00;
}
div.rightQuestion{
    background: #55ff55;
}
.hidden{
    display: none;
}
div.testament{
    font-size: 15;
    border-style: solid;
    border-width: 1px;
    margin: 25;
    padding: 10;
    background: #eeeeee;
}
div.testament .title{
    font-weight: bold;
}

hr{
    border-style: solid none none none;
    border-width: 1px;
}
